.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  height: 6rem;
  pointer-events: none;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  flex: 1;
}